.req_inputs {
  display: flex;
  margin: 0 auto;
  width: 60vw;
  height: calc(100vh - 82px);
  /* height: 100%; */
  max-width: 1500px;
  background-color: white;
  flex-direction: column;
  align-items: center;
}
.req_inputs p {
  padding: 20px;
  text-indent: 30px;
  line-height: 1.4;
  color: rgb(199, 36, 36);
}
.req_inputs h3 {
  margin: 0 auto;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
}

.req_layout {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: wrap;
  background-color: white;
}

.req_values {
  margin: 3px;
  border: 1px solid;
}

.req_button_contain {
  display: flex;
  height: 150px;
  width: 50vw;
  max-width: 1000px;
  padding-top: 10px;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  background-color: white;
}

.req {
  display: flex;
  border-radius: 4px;
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 15px;
  width: 180px;
  transition: all 0.3s;
  margin: 5px;
  text-decoration: none;
}

.req:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

a {
  text-decoration: none;
}
.req.homeb {
  background-color: navy;
}
.req.library {
  background-color: yellow;
  color: black;
  text-decoration: none;
}
.req.create {
  background-color: green;
  text-decoration: none;
}

@media (max-width: 754px) {
  .req_button_contain {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
/* @media (max-width: 754px); */
