header {
  display: flex;
  background-color: black;
  color: goldenrod;
  height: 82px;
  max-width: 100vw;
  align-items: center;
  justify-content: space-around;
}

.container {
  display: flex;
  height: 60px;
  width: 50vw;
  align-items: center;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 10px;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}

.logi_reg {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 20px;
  text-decoration: none;
  color: white;
  align-items: center;
  font-family: "Cantarell", sans-serif;
  justify-content: space-around;
}

.user a,
.logi_reg a {
  text-decoration: none;
  color: white;
}
.logoutHead {
  font-size: 20px;
  text-decoration: none;
  background: none;
  border: none;
  color: white;
  font-family: "Cantarell", sans-serif;
}

.logoutHead:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.user {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 20px;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: space-around;
  font-family: "Cantarell", sans-serif;
  margin-left: 0;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 90%;
}

.info div {
  display: none;
}

.pic {
  width: 78px;
  border-radius: 50%;
}
#username {
  text-decoration: underline;
}

@media (max-width: 765px) {
  .homer,
  .shop,
  .logi_reg,
  .logoutHead {
    display: none;
  }
  .container {
    justify-content: flex-end;
  }
}

@media (min-width: 540px) {
  .info div {
    display: flex;
  }
}

@media (max-width: 490px) {
  .user div {
    display: none;
  }
}
