header {
  display: flex;
  background-color: black;
  color: goldenrod;
  height: 82px;
  max-width: 100vw;
  align-items: center;
  justify-content: space-around;
}

.container {
  display: flex;
  height: 60px;
  width: 50vw;
  align-items: center;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 10px;
  font-size: 27px;
}

.logi_reg {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.user a,
.logi_reg a {
  text-decoration: none;
  color: white;
}
.logoutHead {
  font-size: 14px;
  text-decoration: none;
  background: none;
  border: none;
  color: white;
}

.user {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: space-around;
  margin-left: 0;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 90%;
}

.info div {
  display: none;
}

.pic {
  width: 78px;
  border-radius: 50%;
}

@media (max-width: 766px) {
  .home,
  .shop,
  .login,
  .regi,
  .logoutHead {
    display: none;
  }
  .container {
    justify-content: flex-end;
  }
}

@media (min-width: 540px) {
  .info div {
    display: flex;
  }
}

@media (max-width: 463px) {
  .user div {
    display: none;
  }
}
