.toggleButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: silver;
  border-radius: 25%;
  cursor: pointer;
  border: none;
  padding-top: 10;
  padding-bottom: 10;
  box-sizing: border-box;
}

.buttonLine {
  width: 20px;
  height: 4px;
  border-radius: 35%;
  background-color: black;
}

@media (min-width: 766px) {
  .toggleButton {
    display: none;
  }
}
