.outerbox {
  display: flex;
  margin: 0 auto;
  width: 60vw;
  height: calc(100vh - 82px);
  max-width: 1500px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.outerbox h1 {
  margin: 0 auto;
  padding: 15px;
  font-size: 27px;
}

.innerbox {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#hcBut a button {
  display: flex;
  border-radius: 4px;
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 15px;
  width: 180px;
  transition: all 0.3s;
  margin: 5px;
  text-decoration: none;
}
#hcBut a button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#hcHome {
  background-color: navy;
}
#hcLib {
  background-color: rgb(190, 125, 28);
}
#hcHist {
  background-color: teal;
}
#hcComm {
  background-color: coral;
}

#box {
  display: flex;
  /* height: 100%; */
  max-width: 1500px;
  background-color: rgba(128, 128, 128, 0.342);
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}

#box h3 {
  margin: 0 auto;
  padding: 15px;
  font-size: 20px;
}

.storyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storyContainer p {
  line-height: 1.4;
  text-indent: 30px;
}

#storyinfo {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 12px;
}

.histHead h3 {
  display: flex;
  justify-content: center;
}
.histhead div {
  display: flex;
  flex-direction: row;
}

#histstoryinfo {
  display: flex;
  flex-direction: column;
}

#histstoryinfo p {
  line-height: 1.4;
  text-indent: 30px;
}
#histstoryinfo div {
  padding: 12px;
}

#mama {
  display: flex;
  padding: 5px;
  justify-content: space-around;
}

@media (max-width: 630px) {
  .innerbox {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
