.page-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.page-container div h3 {
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.credentials-container {
  position: absolute;
  width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  background: white;
}

.credentials-container div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#logbut {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-top: 15px;
  justify-content: space-around;
}

#logbut a #cancel {
  display: flex;
  border-radius: 4px;
  background-color: rgb(163, 27, 27);
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 120px;
  cursor: pointer;
  text-decoration: none;
}
#logbut #login,
#logbut a #register {
  display: flex;
  border-radius: 4px;
  background-color: rgb(36, 82, 39);
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 120px;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 450px) {
  #logbut {
    flex-direction: column-reverse;
  }
}
